
# ignore directories
/node_modules/*
**/.swc/*
/.swc/*
/dist/*
/public/temporary/*
/app/backup/*
/backup/*


# ignore files
**/*.gitignore
**/.gitignore

node_modules
.dockerignore
Dockerfile
.git
.gitignore
README.md

**/*.db
*.db

.git
.gitignore
README.md
Dockerfile
.dockerignore
node_modules
*.log
.docker
.nyc_output
coverage
.npm
.cache
.next
dist
build
